body{
    /* background-color:#AD1F2B; */
  background-image: url("fondocolor.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.caja{
    padding: 38px;
    text-align: center;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
}



.todo{
    text-align: center;
}

/* .margen1{
    margin-top: 50px;
} */

.blog{
    background-color: white;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px 2px;
}

.boton{
    padding: 10px;
    text-align: center;
}

div .boton a:hover{
    transition-delay: 300ms;
    background-color: gray;
    
}

div .boton a:hover{
    transition-delay: 300ms;
    font-weight: bold;
    
}

.text {
        width:99%;
        height:50px;
        color:black;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}
.column--50{
    width: 49%;
}
.nav-link{
    color: rgb(129, 127, 127) !important;
}


h2{
    color: white;
    text-align: right;
}

.separa{
    margin: 25px;
    padding: 0;
    border-radius: 15px;
}

.del{
    color: black;
}

html{

    position:relative; 
    min-height: 100%;
  }
  /*Normalize html and body elements,this style is just good to have*/
  html,body{
    margin:0;
    padding:0;
  }
  .pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
  } 
  .footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height:30px;
  }
  .loginn {
      align-items: center;
  }
  nav
  {
      background-color: rgba(255, 255, 255, 0.877);
  }

  .card-text{
    text-align: justify !important;
    padding: 3px 10px;
  border-top: rgba(12, 81, 126, 0.3) 1px solid;
  border-bottom: rgba(12, 81, 126, 0.3) 1px solid;

}
  .card-fecha{
      text-align: center;
  }
  .card-title{
      text-align: center;
      text-decoration: underline;
      
  }
  .card-carrera{
      text-align: center;
  }
 .card-autor{
     text-align: center;
 }
 .card-body{
    padding: 3px 10px;
  border: rgba(12, 81, 126, 0.877) 5px solid;
  border-radius: 15px;
 }
 .ajustin{
     width: 100%;
     text-align: center;
     position: relative;
     bottom: 0px;
 }
 .TituleUNAB{
     text-align: center;
 }
 .row{
     margin-left: 5%;
     margin-bottom: 5%;
 }
.color-footer{
    color: rgba(255, 255, 255, 0.658) ;
}

/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  border-style: solid;
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 25px;
}
#logreg-forms .form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:white;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}