body{
    /* background-color:#AD1F2B; */
  background-image: url("fondocolor.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.caja{
    padding: 38px;
    text-align: center;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.nav, img{
    background-size: cover;
    position: relative;
    left: 25%;
    display: flex;
    flex-flow: row;
    width: 204px;
    height: 82px;
  }

.todo{
    text-align: center;
}

/* .margen1{
    margin-top: 50px;
} */

.blog{
    background-color: white;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px 2px;
}

.boton{
    padding: 10px;
    text-align: center;
}

div .boton a:hover{
    transition-delay: 300ms;
    background-color: gray;
    
}

div .boton a:hover{
    transition-delay: 300ms;
    font-weight: bold;
    
}

.text {
        width:99%;
        height:50px;
        color:black;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}
.column--50{
    width: 49%;
}
.nav-link{
    color: rgb(129, 127, 127) !important;
    position: relative;
    left: 1000px;
    
}
h1{
    color: white;
}

h2{
    color: white;
    text-align: right;
}

.separa{
    margin: 25px;
    padding: 0;
    border-radius: 15px;
}

/* .separabody{
    margin: auto;
    width: 100%;
    padding: 160px;
} */


.del{
    color: black;
}

html{

    position:relative; 
    min-height: 100%;
  }
  /*Normalize html and body elements,this style is just good to have*/
  html,body{
    margin:0;
    padding:0;
  }
  .pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
  } 
  .footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height:30px;
  }
  .loginn {
      align-items: center;
  }
  nav
  {
      background-color: rgba(255, 255, 255, 0.877);
  }

  .card-text{
    text-align: justify !important;
    padding: 3px 10px;
  border-top: rgba(12, 81, 126, 0.3) 1px solid;
  border-bottom: rgba(12, 81, 126, 0.3) 1px solid;

}
  .card-fecha{
      text-align: center;
  }
  .card-title{
      text-align: center;
      text-decoration: underline;
      
  }
  .card-carrera{
      text-align: center;
  }
 .card-autor{
     text-align: center;
 }
 .card-body{
    padding: 3px 10px;
  border: rgba(12, 81, 126, 0.877) 5px solid;
  border-radius: 15px;
 }
 .ajustin{
     width: 100%;
     text-align: center;
     position: relative;
     bottom: 0px;
 }
 .TituleUNAB{
     text-align: center;
 }
 .row{
     margin-left: 5%;
     margin-bottom: 5%;
 }
.color-footer{
    color: rgba(255, 255, 255, 0.658) ;
}
